  <!-- Footer start Here  -->
<footer>
    <div class="container">
        <p class="copy-rights left">Copyright © All Rights Reserved</p>
        <ul class="ftr-social right">
            <li><a href=""><!-- <img src="assets/images/ftr-fb.png" alt=""> --><i class="fab fa-facebook-f"></i></a></li>
            <li><a href=""><img src="assets/images/ftr-pintrest.png" alt=""></a></li>
            <li><a href=""><img src="assets/images/ftr-twt.png" alt=""></a></li>
            <li><a href=""><img src="assets/images/ftr-vim.png" alt=""></a></li>
            <li><a href=""><img src="assets/images/ftr-insta.png" alt=""></a></li>
            <li><a href=""><img src="assets/images/ftr-gplus.png" alt=""></a></li>
        </ul>
        <br><br>
        <div class="legalDisclaimer row">
            <p class="col-md-12">All information is from sources deemed reliable but is subject to errors, omissions, changes etc.  No representation is made as to the accuracy of any description. All measurements and square footages are approximate and all information should be confirmed by customer or his attorney. All rights to content, photographs and graphics reserved to Peter Michael Riolo llc. Peter Michael Riolo is a licensed associate broker with Brown Harris Stevens Residential Sales llc. an active supporter of fair housing and equal housing opportunities</p>
        </div>
    </div>
</footer>
  <!-- Footer ends Here  -->