      <!-- Main Starts Here  -->
            <section id="main" class="main about-page-main">


                <!-- Banner Starts Here  -->
                <div class="banner about-page-banner">
                    <div class="container">
                        <!-- <div class="banner-image">

                            <img src="assets/images/logo-black-lg.png" alt="Logo Large">
                        </div> -->
                        <p class="banner-description">REPOLUS is the resource for current New York City residents and people thinking to move to the Big Apple who want an insider perspective to the NYC life and in particular the Real Estate market. 
                        </p>

                        <div class="person-details">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="person-details-block">
                                        <div class="person-image">
                                            <img src="assets/images/img-thumbnail.png" alt="">
                                        </div>
                                        <div class="person-about">
                                            <h2 class="name">PETER MICHAEL RIOLO</h2>
                                            <h3 class="designation">Founder</h3>
                                        </div>
                                        <div class="person-bio">
                                            <p>Editor in chief, Peter Michael Riolo, is a third-generation New York real estate professional. Peter and his family have deep roots in the industry and are well regarded for their long standing reputation of high integrity in service to the community. Peter currently runs a real estate brokerage team at Brown Harris Stevens located at 445 Park Avenue in Manhattan, and the Peter J. Riolo Real Estate company, which was started by his grandfather in the mid 1930’s, is located in Westchester County, New York. <br>

                                            Peter’s real estate philosophy is a combination of old-world values of client service, coupled with state of the art contemporary technology. This website is an offshoot of Peter’s belief that by making his clients the best educated consumers, he can empower them to succeed in managing their real estate projects. Peter brings experience, passion, and problem solving strategies to every transaction, skillfully managing every facet of the deal. He is well-regarded for his empathy, his ability to rapidly assess and understand client needs, and his unremitting focus on results. <br>

                                            Peter attended the Hackley School where he was a scholar athlete and was awarded second team All-American in Lacrosse. Later, he graduated from Trinity College with a major in International Relations and a minor in Italian Studies. He has spent considerable time working, travelling, and studying abroad. Before his career in Real Estate, he worked in equity brokerage on the floor of the NYSE.

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Banner Ends Here  -->
            </section>
            <section class="contact">
                <div class="container">
                    <h3 class="section-title">Contact us</h3>
                    <div class="contact-blocks-outer">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 ">
                                <div class="contact-block">
                                    <div class="block-icon">
                                        <img src="assets/images/send-icon.png" alt="">
                                    </div>
                                    <h4 class="block-title">Address</h4>
                                    <div class="block-description">
                                        <p>Licensed Associate Real Estate Broker, Brown Harris Stevens 
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 ">
                                <div class="contact-block">
                                    <div class="block-icon">
                                        <img src="assets/images/cell-phone-icon.png" alt="">
                                    </div>
                                    <h4 class="block-title">Phone</h4>
                                    <div class="block-description">
                                        <p>212-317-7792</p>
                                        <!-- <p>+30-6977664062 (mobile phone)</p> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 ">
                                <div class="contact-block">
                                    <div class="block-icon">
                                        <img src="assets/images/message-icon.png" alt="">
                                    </div>
                                    <h4 class="block-title">Email</h4>
                                    <div class="block-description">
                                        <p>Info@repolus.com</p>
                                        <p>priolo@bhsusa.com</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </section>