.contact-us { padding: 165px 0 0 0; height: 100vh;  }
.contact-us h4 { font-size: 24px; color: #333333; line-height: 30px; position: relative;
 text-transform: uppercase; margin-bottom:60px; padding-bottom: 20px; }
.contact-us h4:after { height: 2px; width: 50px; background: #365e99; position: absolute;
 left: 0px; bottom: 0px; content: '';  }
.contact-us input { font-size: 13px; color: #666666; border-bottom: 1px solid #000000;
 padding: 10px 0px; width: 100%;  }
.contact-us textarea { padding: 0px; border: 0px; border-bottom: 1px solid #000000; 
width: 100%; resize: none;}
.contact-us .btn { background: #11213b; padding: 15px 40px; border-radius: 25px;
color: #fff; text-transform: uppercase;  }
.contact-us p { font-size: 14px; color: #666666; margin-bottom: 20px;   }
.contact-us span { text-transform: uppercase; font-weight: 700; }
.map { margin-top: 50px; }
.map img { width: 100%;  }

.contact-us .contactHeading {
	font-weight: bold;
	font-size: 20px;
	color: #000000;
}

.contact-us .contactPhara {
	font-size: 17px;
}

.contact-us .contactPhara .contactlabel{
	color: #000000;
	font-weight: bold;
}

@media only screen and (max-width:767px){ 
	
}