<div class="blog-content">
    <div class="container">
        <div class="blog-content-inner">
            <div class="row">
                <div class="col-md-8">
                    <div class="blog-post">
                        <h2 class="post-title">Magnam aliquam quaerat voluptatem</h2>
                        <span class="date">16 March 2015</span>
                        <p>New tools have emerged to address the challenges of responsive web design — tools such as Adobe Reflow and the recently released Macaw. Today, we’ll look at one that I have tested extensively in the last few months.
                            Though not perfect, it’s been a leap forward in productivity for the team that I work with. Its name is Webflow,
                        </p>
                        <div class="post-image">
                            <img src="assets/images/blog-post1.png" alt="">
                        </div>

                       <div id="blog01" class="collapse">
                           <blockquote>"Sed ut perspiciatis unde omnis iste natus error sivoluptatem accusa ntium doloremque laud antium, totam rem aperiam, eaque ipsa."
                           </blockquote>
                           <p>New tools have emerged to address the challenges of responsive web design — tools such as Adobe Reflow and the recently released Macaw. Today, we’ll look at one that I have tested extensively in the last few months.
                               Though not perfect, it’s been a leap forward in productivity for the team that I work with. Its name is Webflow, and it could be the solution to the problems you face with static design comps produced in Photoshop
                               and Fireworks.
                           </p>
                       </div>
                        <a class="read-more-btn" data-toggle="collapse" data-target="#blog01">Read More</a>
                    </div>

                    <div class="blog-post">
                        <h2 class="post-title">Magnam aliquam quaerat voluptatem unde omnis iste natus error sit voluptatem accusanti</h2>
                        <span class="date">16 March 2015</span>
                        <div class="post-image">
                            <img src="assets/images/blog-post2.png" alt="">
                        </div>

                        <div id="blog02" class="collapse">
                            <blockquote>"Sed ut perspiciatis unde omnis iste natus error sivoluptatem accusa ntium doloremque laud antium, totam rem aperiam, eaque ipsa."
                            </blockquote>
                            <p>New tools have emerged to address the challenges of responsive web design — tools such as Adobe Reflow and the recently released Macaw. Today, we’ll look at one that I have tested extensively in the last few months.
                                Though not perfect, it’s been a leap forward in productivity for the team that I work with. Its name is Webflow, and it could be the solution to the problems you face with static design comps produced in Photoshop
                                and Fireworks.
                            </p>
                         </div>   
                         <a class="read-more-btn" data-toggle="collapse" data-target="#blog02">Read More</a>
                    </div>

                    <div class="blog-post">
                        <h2 class="post-title">Magnam aliquam quaerat voluptatem</h2>
                        <span class="date">16 March 2015</span>
                        <p>New tools have emerged to address the challenges of responsive web design — tools such as Adobe Reflow and the recently released Macaw. Today, we’ll look at one that I have tested extensively in the last few months.
                            Though not perfect, it’s been a leap forward in productivity for the team that I work with. Its name is Webflow,
                        </p>
                        <div class="post-image">
                            <img src="assets/images/blog-post3.png" alt="">
                        </div>
                        <div id="blog03" class="collapse">
                            <blockquote>"Sed ut perspiciatis unde omnis iste natus error sivoluptatem accusa ntium doloremque laud antium, totam rem aperiam, eaque ipsa."
                            </blockquote>
                            <p>New tools have emerged to address the challenges of responsive web design — tools such as Adobe Reflow and the recently released Macaw. Today, we’ll look at one that I have tested extensively in the last few months.
                                Though not perfect, it’s been a leap forward in productivity for the team that I work with. Its name is Webflow, and it could be the solution to the problems you face with static design comps produced in Photoshop
                                and Fireworks.
                            </p>
                         </div>   
                        <a class="read-more-btn" data-toggle="collapse" data-target="#blog03">Read More</a>
                    </div>

                    <div class="pagination-bottom">
                       <!--  <ul>
                            <li class="active"><a href="">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href="">4</a></li>
                            <li><a href="">5</a></li>
                            <li><a href="">6</a></li>
                            <li><a href="">7</a></li>
                        </ul> -->

                        <!-- pagination -->
                        
                        <!-- <ul>
                            <li *ngFor="let item of collection | paginate: { itemsPerPage: 10, currentPage: p }">{{ item }}</li>
                        </ul>

                        <pagination-controls (pageChange)="p = $event"></pagination-controls> -->

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-widgets">
                        <div class="widgets-block">
                            <h3>Categories</h3>
                            <ul>
                                <li><a >Eurasia for your trips</a></li>
                                <li><a >North America and USA</a></li>
                                <li><a >South America and Japan</a></li>
                                <li><a >Australia & Antarctica</a></li>
                            </ul>
                        </div>
                        <div class="widgets-block">
                            <h3>Archives</h3>
                            <ul>
                                <li><a >September 2014</a></li>
                                <li><a >August 2014</a></li>
                                <li><a >July 2014</a></li>
                                <li><a >March 2014</a></li>
                                <li><a >February 2014</a></li>
                            </ul>
                        </div>
                        <div class="widgets-block">
                            <h3 class="recent-post-title">recent posts</h3>
                            <div class="recent-post">
                                <a >My Group Tours: Two Trips to Europe!</a>
                                <p>At the end of 2013, I started leading group trips. I’ve done four so far and have really enjoyed them. I like meeting readers...</p>
                                <span class="date">14 March 2015</span>
                            </div>
                            <div class="recent-post">
                                <a >Everything You Need to Know About Using Smartphones When You Travel</a>
                                <p>On the first Tuesday of each month, Dave Dean from Too Many Adapters gives us tips and advice on travel tech and gear. He is our resident...</p>
                                <span class="date">14 March 2015</span>
                            </div>
                            <div class="recent-post">
                                <a >What Makes a Nomad a Nomad?</a>
                                <p>At the end of 2013, I started leading group trips. I’ve done four so far and have really enjoyed them. I like meeting readers...</p>
                                <span class="date">14 March 2015</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>